.container {
	background-color: var(--color-secondary-shade-2);
}

.pageContainer {
	color: var(--color-secondary-shade-4);
	padding: 20px var(--content-padding-horizontal);
}

.pageContainer > p {
	max-width: 40em;
}