.cardsContainer {
	display: grid;
	gap: 15px;
	transition: opacity .5s;
}

.isRefetching {
	pointer-events: none;
	animation: loading .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes loading {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 0.5;
	}
}

ul.cardsContainer {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cardsFooter {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}