.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'content';
	justify-items: center;
	align-items: center;
	min-height: calc(100vh - (20px * 2));
}

@media(min-width: 550px) {
	.container {
		grid-template-columns: 1fr 34em;
		grid-template-areas: 'fill content';
	}
}

.container h1,
.container p,
.container ul,
.container ol,
.container table,
.container label,
.container input {
	color: white;
}

.fillContainer {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media(min-width: 550px) {
	.fillContainer {
		justify-self: stretch;
		align-self: stretch;
		background-image:
			linear-gradient(to right, rgba(0, 7, 13, 1) 0%, rgba(0, 7, 13, 0) 50%, rgba(0, 7, 13, 1) 100% ),
			url('./leaves-large.jpg');
	}
}

@media(max-width: 550px) {
	.fillContainer {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		filter: blur(8px);
		opacity: .5;
		background-image: url('./leaves-small.jpg');
	}
}

.contentContainer {
	grid-area: content;
	position: relative;
}

@media(max-width: 550px) {
	.contentContainer {
		padding-left: var(--content-padding-horizontal);
		padding-right: var(--content-padding-horizontal);
	}
}

@media(min-width: 550px) {
	.contentContainer {
		padding: 5em;
	}
}

.contentContainer h1 {
	text-align: center;
}