.container {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	gap: 20px;
	padding: 20px var(--content-padding-horizontal);
	background-color: hsla(var(--color-primary-shade-1-h), var(--color-primary-shade-1-s), var(--color-primary-shade-1-l), .2);
}

.container a,
.container h1 {
	color: var(--color-secondary-shade-4);
}

.container h1 {
	font-size: 1.5rem;
}

.backButton {
	padding: 0;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	color: var(--color-secondary-shade-4);
	background-color: transparent;
	border: none;
}

.backButton:hover {
	color: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), 100%);
}

.backButton > svg {
	width: 100%;
	height: 100%;
}

.container h1 {
	margin: 0;
}