.widget-electricity-usage-chart,
.widget-cumulative-water-usage-chart,
.widget-gas-usage-chart {
	grid-column: 1/-1;
}

@media(min-width: 1400px) {
	.widget-electricity-usage-chart,
	.widget-cumulative-water-usage-chart,
	.widget-gas-usage-chart {
		grid-column: span 5;
	}
}

.widget-electrical-usage-by-month,
.widget-gas-usage-by-month {
	grid-column:  1/-1;
}

@media(min-width: 850px) {
	.widget-electrical-usage-by-month,
	.widget-gas-usage-by-month {
		grid-column: span 3;
	}
}

.current-water-consumption {
	font-size: 1.5rem;
	color: var(--color-water);
}