.container {
	position: relative;
	padding: 20px 20px 35px 20px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, .1);
	background-color: hsla(var(--color-secondary-shade-1-h), var(--color-secondary-shade-1-s), var(--color-secondary-shade-1-l), .2);
}

.header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	width: 1.5em;
}

.icon > svg {
	height: 100%;
	width: 100%;
}

.header > h3 {
	margin: 0;
	font-size: 1.25rem;
	color: var(--color-secondary-shade-4);
}

.body:not(:first-child) {
	margin-top: 20px;
}

.dataTime {
	position: absolute;
	right: 20px;
	bottom: 15px;
	opacity: .35;
	font-size: .75rem;
}