.input-field-container:not(:first-child),
.form-footer-container {
	margin-top: 4em;
}

.form-footer-container .button {
	width: 100%;
}

.form-footer-container .button:not(:first-child) {
	margin-top: 2em;
}