.widget-water-usage-current-week,
.widget-water-usage-current-month,
.widget-water-usage-current-year {
	grid-column:  1/-1;
}

@media(min-width: 1000px) {
	.widget-water-usage-current-week,
	.widget-water-usage-current-month,
	.widget-water-usage-current-year {
		grid-column: span 3;
	}
}

.current-water-consumption {
	font-size: 1.5rem;
	color: var(--color-water);
}