.container {
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.main {
	display: grid;
	grid-template-columns: auto min-content min-content;
	gap: 30px;
	align-items: center;
	height: 60px;
	padding-left: var(--content-padding-horizontal);
	padding-right: var(--content-padding-horizontal);
	background-color: var(--color-secondary-shade-2);
}

.main a {
	color: var(--color-secondary-shade-4);
	text-decoration: none;
}

.appName {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-size: 2em;
	font-weight: 700;
}

.main a:hover {
	color: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), 100%);
}

@media (prefers-color-scheme: light) {
	.main a:hover {
		color: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), 0%);
	}
}