.container {
	position: relative;
}

.main {
	display: grid;
	grid-template-columns: auto min-content min-content;
	grid-template-areas: 'title settings nav';
	gap: 30px;
	align-items: center;
	height: 60px;
	padding-left: var(--content-padding-horizontal);
	padding-right: var(--content-padding-horizontal);
	background-color: var(--color-secondary-shade-2);
}

.navButton {
	width: 2rem;
	height: 2rem;
	border: none;
	color: var(--color-secondary-shade-4);
	background-color: transparent;
	grid-area: nav-button;
}

@media (min-width: 512px) {
	.navButton {
		display: none;
	}
}

.main a {
	color: var(--color-secondary-shade-4);
	text-decoration: none;
}

.titleContainer {
	grid-area: title;
	display: flex;
	gap: 10px;
	align-items: center;
}

.title {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-size: 2em;
	font-weight: 700;
}

.settings {
	grid-area: settings;
}

.nav {
	grid-area: nav;
}

.main a:hover {
	color: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), 100%);
}

@media (prefers-color-scheme: light) {
	.main a:hover {
		color: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), 0%);
	}
}

.modalWrapper {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 100;
	pointer-events: none;
	background-color: transparent;
	transition: background-color .15s;
}

.modalWrapper::before {
	content: "";
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	transition: background-color .15s;
}

.modalWrapper.isOpen {
	pointer-events: auto;
}

.modalWrapper.isOpen::before {
	background-color: rgba(0, 0, 0, 0.5);

}

.modalContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
}

@media(min-width: 550px) {
	.modalContainer {
		top: 0;
		right: 0;
		left: auto;
		max-width: 340px;
		width: 100%;
	}
}
