.container {
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.main {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	height: 60px;
	padding-left: var(--content-padding-horizontal);
	padding-right: var(--content-padding-horizontal);
	background-color: var(--color-secondary-shade-1);
}

.appName {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-size: 2em;
	font-weight: 700;
	color: white;
	text-decoration: none;
}

.appName:hover {
	background-color: rgb(39, 43, 49);
}

.container .userMenu {
	justify-self: right;
}