.button {
	position: relative;
	padding: .75em 1.5em;
	border-radius: 4px;
	border: none;
	background-color: transparent;
}

.button.primary {
	color: white;
	background-color: var(--color-primary-shade-1);
}

.button.primary:hover {
	background-color: hsl(var(--color-primary-shade-1-hs), 52%);
}

.button.secondary {
	color: white;
	background-color: var(--color-secondary-shade-2);
}