.widget-electricity-usage-chart,
.widget-gas-usage,
.widget-electrical-usage-by-week,
.widget-electrical-usage-by-month,
.widget-gas-usage-by-month,
.widget-electrical-usage-current-week {
	grid-column: 1/-1;
}

@media(min-width: 1400px) {
	.widget-electricity-usage-chart,
	.widget-gas-usage {
		grid-column: span 5;
	}
}

@media(min-width: 850px) {
	.widget-electrical-usage-by-week,
	.widget-electrical-usage-by-month,
	.widget-gas-usage-by-month,
	.widget-electrical-usage-current-week {
		grid-column: span 3;
	}
}

.current-usage {
	font-size: 1.5rem;
	color: var(--color-electricity);
}