.App {
	text-align: center;
}

.App-header {
	min-height: 100vh;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: calc(10px + 2vmin);
	color: white;
	background-color: #282c34;
}

.electricy-usage-container,
.gas-usage-container {
	padding: 40px 2rem;
	box-sizing: border-box;
}

.gas-usage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}