/* andika-new-basic-regular - latin */
@font-face {
	font-family: 'Andika New Basic';
	font-style: normal;
	font-weight: 400;
	src: local(''),
			url('./fonts/andika-new-basic-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('./fonts/andika-new-basic-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* andika-new-basic-700 - latin */
@font-face {
	font-family: 'Andika New Basic';
	font-style: normal;
	font-weight: 700;
	src: local(''),
			url('./fonts/andika-new-basic-v1-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('./fonts/andika-new-basic-v1-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--color-primary-shade-1-hs: 222, 100%;
	--color-primary-shade-1: hsl(var(--color-primary-shade-1-hs), 56%);
	--color-primary-shade-2-hs: 21, 68%;
	--color-primary-shade-2: hsl(var(--color-primary-shade-2-hs), 83%);

	--color-secondary-shade-1-h: 221;
	--color-secondary-shade-1-s: 10%;
	--color-secondary-shade-1-l: 6%;
	--color-secondary-shade-1: hsl(var(--color-secondary-shade-1-h), var(--color-secondary-shade-1-s), var(--color-secondary-shade-1-l));

	--color-secondary-shade-2-h: 221;
	--color-secondary-shade-2-s: 10%;
	--color-secondary-shade-2-l: 18%;
	--color-secondary-shade-2: hsl(var(--color-secondary-shade-2-h), var(--color-secondary-shade-2-s), var(--color-secondary-shade-2-l));

	--color-secondary-shade-3-h: 224;
	--color-secondary-shade-3-s: 13%;
	--color-secondary-shade-3-l: 68%;
	--color-secondary-shade-3: hsl(var(--color-secondary-shade-3-h), var(--color-secondary-shade-3-s), var(--color-secondary-shade-3-l));

	--color-secondary-shade-4-h: 213;
	--color-secondary-shade-4-s: 17%;
	--color-secondary-shade-4-l: 88%;
	--color-secondary-shade-4: hsl(var(--color-secondary-shade-4-h), var(--color-secondary-shade-4-s), var(--color-secondary-shade-4-l));

	--color-electricity-h: 224;
	--color-electricity-s: 100%;
	--color-electricity-l: 89%;
	--color-electricity: hsl(var(--color-electricity-h), var(--color-electricity-s), var(--color-electricity-l));

	--color-electricity-delivered-h: 168;
	--color-electricity-delivered-s: 100%;
	--color-electricity-delivered-l: 82%;
	--color-electricity-delivered: hsl(var(--color-electricity-delivered-h), var(--color-electricity-delivered-s), var(--color-electricity-delivered-l));

	--color-gas-h: 38;
	--color-gas-s: 100%;
	--color-gas-l: 89%;
	--color-gas: hsl(var(--color-gas-h), var(--color-gas-s), var(--color-gas-l));

	--color-water-h: 189;
	--color-water-s: 100%;
	--color-water-l: 50%;
	--color-water: hsl(var(--color-water-h), var(--color-water-s), var(--color-water-l));

	--content-padding-horizontal: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-secondary-shade-1-l: 97%;
		--color-secondary-shade-2-l: 82%;
		--color-secondary-shade-3-l: 22%;
		--color-secondary-shade-4-l: 12%;

		--color-electricity-l: 32%;
		--color-electricity-delivered-l: 25%;
		--color-gas-l: 35%;
		--color-water-l: 40%;
	}
}

@media(min-width: 34em) {
	:root {
		--content-padding-horizontal: 2rem;
	}
}

body {
	margin: 0;
	font-family: 'Andika New Basic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-secondary-shade-2);
}

code {
	color: hsl(222, 100%, 56%);
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem;
}

p {
	line-height: 1.8;
}