/* andika-new-basic-regular - latin */
@font-face {
	font-family: 'Andika New Basic';
	font-style: normal;
	font-weight: 400;
	src: local(''),
			url('./fonts/andika-new-basic-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('./fonts/andika-new-basic-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* andika-new-basic-700 - latin */
@font-face {
	font-family: 'Andika New Basic';
	font-style: normal;
	font-weight: 700;
	src: local(''),
			url('./fonts/andika-new-basic-v1-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('./fonts/andika-new-basic-v1-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--color-primary-shade-1-hs: 222, 100%;
	--color-primary-shade-1: hsl(var(--color-primary-shade-1-hs), 56%);
	--color-primary-shade-2-hs: 21, 68%;
	--color-primary-shade-2: hsl(var(--color-primary-shade-2-hs), 83%);

	--color-secondary-shade-1-hsl: 221, 10%;
	--color-secondary-shade-1: hsl(var(--color-secondary-shade-1-hsl), 18%);
	--color-secondary-shade-2-hsl: 224, 13%;
	--color-secondary-shade-2: hsl(var(--color-secondary-shade-2-hsl), 68%);
	--color-secondary-shade-3-hsl: 213, 17%;
	--color-secondary-shade-3: hsl(var(--color-secondary-shade-3-hsl), 88%);

	--content-padding-horizontal: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		/* --color-secondary-shade-1-hsl: 221, 30%; */
		--color-secondary-shade-1: hsl(var(--color-secondary-shade-1-hsl), 84%);
	}
}

@media(min-width: 34em) {
	:root {
		--content-padding-horizontal: 2rem;
	}
}

body {
	margin: 0;
	font-family: 'Andika New Basic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: #282c34; */
	background-color: var(--color-secondary-shade-1);
}

code {
	color: hsl(222, 100%, 56%);
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
}

p {
	line-height: 1.8;
}