@keyframes spinner-forms-loading {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

.container {
	position: relative;
	max-width: 30em;
	margin-top: 2.25em;
}

.container {
	position: relative;
}

.container::after {
	content: "";
	display: block;
	position: absolute;
	top: .375em;
	right: .375em;
	width: 1.375em;
	height: 1.375em;
	border-radius: 1.5em;
	border: 2px solid transparent;
	transition: border-color .5s, background-color .5s, border-color .5s;
	box-sizing: border-box;
	pointer-events: none;
	animation-duration: 1s;
	animation-name: spinner-forms-loading;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}

.container.loading::after {
	animation-play-state: running;
	border-color: var(--color-senary);
	border-left-color: transparent;
}

.container.validated::after {
	background-color: green;
	border-color: green;
}

.container.error::after {
	background-color: red;
	border-color: red;
}

.container.warning::after {
	background-color: orange;
	border-color: orange;
}

.container input {
	width: 100%;
	height: 2em;
	padding: .375em .75em;
	line-height: 1.3;
	color: var(--color-secondary-shade-4);
	background-color: hsla(var(--color-secondary-shade-1-h), var(--color-secondary-shade-1-s), var(--color-secondary-shade-1-l), .7);
	border-radius: 0;
	border: none;
}

@media (min-width: 35.625em) {
	.container input {
		font-size: 1.0625em;
	}
}